*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1368px;
}
.row{
    display: flex;
    flex : wrap;
    justify-content: center;
    align-items: center;
    
}
img{
    margin-top: 50px;
    width : 100px;
    height : 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.col-sm-6{
    text-align: center;
}
a{
    text-transform: uppercase;
    
}
 .btn{
  font-weight: 600;
  background-color: rgb(243, 241, 241);
  padding: 5px 10px;
  border-radius: 25px;
 }